<div
  class="h-svh overflow-hidden flex justify-center items-center px-6 bg-gradient-to-t from-gray-800 to-gray-700"
>
  <div
    class="p-8 rounded-2xl w-128 h-160 max-lg:w-full max-lg:px-8 max-md:px-3 border shadow-3 backdrop-blur-sm bg-opacity-30 bg-black"
  >
    <div class="text-xl font-medium text-white mb-8">Login</div>
    <div class="mb-8 flex flex-col justify-center">
      <div class="logo-image h-24 mb-3 flex justify-center">
        <img class="h-full" src="images/Optimus.jpg" />
      </div>
      <div class="text-xl font-medium text-center text-white">Welcome Back</div>
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      #formGroupDir="ngForm"
      class="mb-14"
    >
      <div class="mb-4">
        <label class="block text-sm mb-1 text-white" for="email">email</label>
        <input
          type="text"
          pInputText
          id="email"
          [attr.placeholder]="'email'"
          formControlName="email"
          class="w-full border-gray-400 text-base text-black"
          [class.border-red-500]="
            (loginForm.get('email')?.invalid &&
              loginForm.get('email')?.touched) ||
            (formGroupDir.submitted && loginForm.get('email')?.invalid)
          "
        />
        <div class="text-xs h-4 text-red-600">
          @if((loginForm.get('email')?.invalid &&
          loginForm.get('email')?.touched) || (formGroupDir.submitted &&
          loginForm.get('email')?.invalid)){

          <small class="p-invalid my-1 fadeInDown animated absolute"
            >This field is required!</small
          >
          }
        </div>
      </div>
      <div class="mb-14">
        <label class="block text-sm mb-1 text-white" for="password"
          >Password</label
        >
        <p-password
          type="password"
          id="password"
          [placeholder]="'password'"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          inputStyleClass="w-full text-base text-black"
          styleClass="w-full"
          class="w-full border-gray-400"
          [class.border-red-500]="
            (loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched) ||
            (formGroupDir.submitted && loginForm.get('password')?.invalid)
          "
        >
        </p-password>
        <div class="text-xs h-4 text-red-600">
          @if( (loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched) || (formGroupDir.submitted &&
          loginForm.get('password')?.invalid)){
          <small class="p-invalid my-1 fadeInDown animated absolute"
            >This field is required!</small
          >
          }
        </div>
      </div>
      <div class="flex flex-col justify-center items-center w-full">
        <p-button
          type="submit"
          class="w-full mb-4"
          styleClass="w-full text-white"
          label="Login"
        ></p-button>
        <p-button
          class="w-full"
          severity="secondary"
          styleClass="w-full text-white"
          label="Sign Up"
          (click)="goToSignup()"
        ></p-button>
      </div>
    </form>
    <div class="text-center text-sm font-normal text-white">
      <div class="mb-1">2024 - OptimusGO</div>
      <div>{{ version }}</div>
    </div>
  </div>
</div>
