<div class="grid grid-rows-[1fr_64px] h-full bg-gray-100 shadow-3">
  <div class="bg-transparent shadow-3 p-4">
    <div class="header text-lg h-full text-black grid grid-rows-[24px_1fr] gap-2">
      Chat history:
      <div class="chats flex flex-col">
        <div class="chatItem rounded-lg border-solid border border-black p-4 pb-1 h-fit mb-2 last:mb-0 hover:bg-gray-300 hover:cursor-pointer  transition delay-150 duration-300 ease-in-out">
          <div class="title text-sm">How can I find more leads in my business?</div>
          <div class="date text-xs pt-1 text-right">2024-07-18</div>
        </div>
        <div class="chatItem rounded-lg border-solid border border-black p-4 h-fit pb-1 mb-2 last:mb-0 hover:bg-gray-300 hover:cursor-pointer transition delay-150 duration-300 ease-in-out">
          <div class="title text-sm">How can I connect with my leads?</div>
          <div class="date text-xs pt-1 text-right">2024-07-18</div>
        </div>
        <div class="chatItem rounded-lg border-solid border border-black p-4 h-fit pb-1 mb-2 last:mb-0 hover:bg-gray-300 hover:cursor-pointer transition delay-150 duration-300 ease-in-out">
          <div class="title text-sm">I want to connect with support team, what should I do?</div>
          <div class="date text-xs pt-1 text-right">2024-07-18</div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-100 px-4 py-2">
    <div class="text-left text-sm font-normal text-black">
      <div class="mb-2">2024 - OptimusGO, All rights reserved.</div>
      <div>Version: {{ version }}</div>
    </div>
  </div>
</div>
