<div
  class="w-full flex items-end mt-4 last:m-0 gap-4"
  [ngClass]="type() === 'human' ? 'sent flex-row-reverse' : 'incoming'"
>
  @if (type() !== 'human') {
  <img class="rounded-full w-5 h-5" src="images/Optimus.jpg" />
  }
  <div
    class="message rounded-lg bg-opacity-90 p-4 max-w-[40rem]"
    [ngClass]="
      type() === 'human' ? 'bg-white text-black' : 'bg-black text-white'
    "
  >
    @if (isJSON) {
    <table class="max-w-[40rem] overflow-x-auto block table-auto w-full border-collapse">
      <thead>
        <tr>
          <th *ngFor="let header of tableHeaders" style="border: 1px solid;" class="border-white p-2">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies">
          <td style="border: 1px solid;" class="border-white p-2" *ngFor="let header of tableHeaders">{{ company[header] }}</td>
        </tr>
      </tbody>
    </table>
    } @else { {{ content() }} }
  </div>
</div>
