/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "./../public/styles/index.scss";

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  @apply w-[6px];
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

button.reset {
  @apply bg-transparent border-none cursor-pointer px-0;
}

