<div class="bg-[#212121] flex flex-col max-h-full min-h-full justify-between">
  <div
    class="overflow-y-auto overflow-x-hidden px-2 flex flex-col gap-3 py-2 grow"
    id="chat-container"
  >
    @for(messages of conversation; track $index){
    <app-bubble-message
      [type]="messages.role"
      [content]="messages.content"
    ></app-bubble-message>
    }
  </div>

  <p-button
    class="w-fit p-1 m-1 rounded-md"
    label="Give me leads"
    severity="secondary"
    type="button"
    (click)="sendLeadMessage()"
  ></p-button>

  <div class="control bg-gray-200 h-16">
    <form
      [formGroup]="formGroup"
      (ngSubmit)="createMessage()"
      #formGroupDir="ngForm"
      class="flex justify-between items-center p-2"
    >
      <input
        autocomplete="off"
        type="text"
        pInputText
        id="message"
        [attr.placeholder]="'Write a message...'"
        formControlName="message"
        class="border-none text-base text-black bg-gray-200 flex-grow"
      />
      <div></div>

      <p-button
        styleClass="p-3"
        type="submit"
        severity="secondary"
        [disabled]="chatSendLoading"
      >
        @if (chatSendLoading) {
        <svg class="animate-spin" viewBox="25 25 50 50">
          <circle r="20" cy="50" cx="50"></circle>
        </svg>
        } @else {
        <i class="pi pi-send"></i>
        }
      </p-button>
    </form>
  </div>
</div>
