<div class="bg-[#212121] flex flex-col max-h-full min-h-full justify-between">
  <div class="overflow-y-auto overflow-x-hidden px-2 flex flex-col gap-3 py-2">
    @for(messages of conversation; track $index){
    <app-bubble-message
      [type]="messages.role"
      [content]="messages.content"
    ></app-bubble-message>
    }
  </div>

  <div class="control bg-gray-200 h-16">
    <form
      [formGroup]="formGroup"
      (ngSubmit)="createMessage()"
      #formGroupDir="ngForm"
      class="flex justify-between items-center p-2"
    >
      <input
        autocomplete="off"
        type="text"
        pInputText
        id="message"
        [attr.placeholder]="'Write a message...'"
        formControlName="message"
        class="border-none text-base text-black bg-gray-200 flex-grow"
      />

      <p-button type="submit" severity="secondary" icon="pi pi-send"></p-button>
    </form>
  </div>
</div>
